<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="font-bold text-3xl mb-6">Edit Booking Type</h1>
    <% if current_user.booking_link? %>

    <% end%>
  </div>

  <%= render 'form', booking_type: @booking_type %>
</div>