<div class="max-w-5xl mx-auto mt-4 lg:p-12 p-4 grid grid-cols-1 lg:grid-cols-12 gap-x-12 gap-y-4 relative z-20">
  <div class="lg:col-span-12 text-center">
    <div class="flex justify-center mb-6">
      
    </div>
    <h1 class="mb-4 text-2xl font-bold text-gray-800 text-center mt-3">TimeForTherapy</h1>
  <p class="leading-snug text-gray-700 text-lg max-w-3xl mx-auto pb-6">Transforming lives through personalized therapy solutions.</p>
</div>
